<!doctype html>
<html>
    <head>
        <title>Province Search</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <h1>Province Search</h1>
        <form method="post">
            <input type="text" name="query" placeholder="Enter province name">
            <input type="hidden" name="lang" value="{{ lang }}">
            <input type="submit" value="Search">
        </form>
        <div>
            <p>Current Language: {{ 'ไทย' if lang == 'th' else 'English' }}</p>
            <a href="?lang=th">🇹🇭 ไทย</a> |
            <a href="?lang=en">🇬🇧 English</a>
        </div>
        {% if results %}
            <h2 class="results-title">Results:</h2>
            <ul>
            {% for result in results %}
               <li>{{ result }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>
